/* your styles go here */




@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Comfortaa|Righteous');
@import url('https://fonts.googleapis.com/css?family=Lato|Oswald|Karla');


code .MathJax {
  color: black;
  background-color: white;
}

.sidebar-heading a {
	font-size: 30px;
	font-family: 'Oswald', cursive;
	text-transform: uppercase;
}

.box-masonry-description p {
	font-family: 'Karla'
}

.sidebar-p {
	font-family: 'Karla';
	font-size: 16px;
	color: #606060;
}


.content-column-content h1 {
	font-family: 'Oswald';
	text-transform: uppercase;
}

.content-column-content h2 {
	font-family: 'Oswald Light';
	text-transform: uppercase;
}

.content-column-content h3 {
	font-family: 'Oswald Light';
	text-transform: uppercase;
}

.content-column-content h4 {
	font-family: 'Oswald Light';
	text-transform: uppercase;
}


.content-column-content h5 {
	font-family: 'Oswald Light';
	text-transform: uppercase;
}

.content-column-content h6 {
	font-family: 'Oswald Light';
	text-transform: uppercase;
}
.content-column-content p {
	font-family: 'Karla';
	color: #606060;
}

h4 a {
	color: #8e8d8a;
	font-family: 'Oswald';
	font-size: 24px;
}

.content-column-content {
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
}

#code-folding-buttons {float: right;}
#code-folding-buttons .pull-right > .dropdown-menu {
    right: 0;
    left: auto;
}
#code-folding-buttons .btn.btn-default.btn-xs.dropdown-toggle {
    float: right;
}
#code-folding-buttons.open > .dropdown-menu {
    display: block;
}
#code-folding-buttons .dropdown-menu {
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
#code-folding-buttons .dropdown-menu li {
    padding: 5px;
}

.code-folding-btn { 
    margin-bottom: 4px; 
}
.row { 
    display: flex;
    border-bottom: solid 1px #d7d7d7;
}
.collapse {
    display: none; 
}
.in { 
    display: block ;
    border: solid 1px #d7d7d7;
    border-radius: 5px;
}
.col-md-12 {
    margin: 0 0 0 auto;
}
