/* your styles go here */




@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Comfortaa|Righteous');
@import url('https://fonts.googleapis.com/css?family=Lato|Oswald|Karla');


code .MathJax {
  color: black;
  background-color: white;
}

.sidebar-heading a {
	font-size: 30px;
	font-family: 'Oswald';
	text-transform: uppercase;
}

.box-masonry-description p {
	font-family: 'Karla'
}

.sidebar-p {
	font-family: 'Karla';
	font-size: 16px;
	color: #606060;
}


.content-column-content h1 {
	font-family: 'Oswald';
	text-transform: uppercase;
}

.content-column-content h2 {
	font-family: 'Oswald Light';
	text-transform: uppercase;
}

.content-column-content h3 {
	font-family: 'Oswald Light';
	text-transform: uppercase;
}

.content-column-content h4 {
	font-family: 'Oswald Light';
	text-transform: uppercase;
}


.content-column-content h5 {
	font-family: 'Oswald Light';
	text-transform: uppercase;
}

.content-column-content h6 {
	font-family: 'Oswald Light';
	text-transform: uppercase;
}
.content-column-content p {
	font-family: 'Karla';
	color: #606060;
}

h4 a {
	color: #8e8d8a;
	font-family: 'Oswald';
	font-size: 24px;
}

.content-column-content {
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
}

